<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="6">
        <v-card
                max-width="400"
                class="mx-auto"
        >
          <v-app-bar
                  dark
                  color="cyan"
          >
            <v-toolbar-title>Connection</v-toolbar-title>
          </v-app-bar>
          <v-container>
            <v-row dense>
              <v-col cols="12">
                <v-text-field outlined rounded label="Login" />
                <v-text-field outlined rounded type="password" label="Mot de passe" />
                <v-btn type="submit" text large color="cyan" tile>Connexion</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <HelloWorld msg="Welcome to Your Vue.js App" />
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  },
  data () {
    return {
      errors: [],
      name: null,
      age: null,
      movie: null

    }

  }
};

</script>